
{% extends 'layout.html.twig' %}{% block main %}


    <div class="Créer une sortie">
        <a href="{{ url('add') }}" class="btn btn-primary btn-lg square" role="button">Créer une sortie !</a>
    </div>
{% endblock %}{% block title %} Les sorties ! {% endblock %}

