{% extends 'layout.html.twig' %}

{% block main %}


    <a href="{{ url('add') }}" class="btn btn-primary btn-lg square" role="button">Créer une sortie !</a>
{% endblock %}

{% block title %}
    Sortir.com
{% endblock %}