{% extends'layout.html.twig' %}

{% block main %}
    <h2>Les sorties</h2>

    {# TODO: afficher liste des sorties #}
    {% for sortie in sorties %}

        <div class="sortie">

            <a href="{{ path('sortie_detail',{'id':sortie.id}) }}"> {{ sortie.name }}</a>
           {# ({{ sortie.|length }}) #}
        </div>
    {% endfor %}
{% endblock %}

{% block title %} Les sorties  | {{ parent () }} {% endblock %}