{% extends 'layout.html.twig' %}

{% block title %}Sortir.com | Accueil {% endblock %}

{% block main %}
    <div class="sortie">

    <h1>Créer une sortie  </h1>

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}

<div class="sortie">
    <!--Cette partie doit se situer sur la droite + lier LIEU à LATTITUDE/ LONGITUDE -->
    <!--COMMENT FAIRE un +  => un ajout sur LIEU qui liera le tout? -->

    {# form_row{sortieForm.campus} #}
    {# form_row{sortieForm.ville} #}
    {# form_row{sortieForm.lieu} #}
    {# form_row{sortieForm.rue} #}
    {# form_row{sortieForm.codePostal} #}
    {# form_row{sortieForm.Latitude} #}
    {# form_row{sortieForm.Longitude} #}
</div>
    <button type='submit' class="btn btn-primary">Enregistrer </button>
    <button type='publish' class="btn btn-primary">Publier la sortie </button>
    <button type='cancel' class="btn btn-primary">Annuler </button>
    {{ form_end(sortieForm) }}
{% endblock %}